html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5em;
}

header {
    padding: 20px 0;
    background: #8ad6f8;
    text-align: center;
}

header h1{
    margin: 0;
    color: white;
    font-weight: 400;
}

h2{
    color: #444444;
    font-weight: normal;
}

a{
    color: #f36c32;
}

input, textarea{
    border: 1px solid #CCC;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: .5em;
}
input:focus, textarea:focus{
    background: #dcf9fd;
}

button{
    color: #FFF;
    background: #f36c32;
    border: 1px solid #f36c32;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 18px;
}

.row {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/

    clear:both;
}

.column {
    padding: 0 20px;
    /*flex-basis: 100%;*/
    width: 50%;
    float: left;
}

@media screen and (min-width: 800px) {
    .column {
        /*flex: 1;*/
        width: 100%;
    }
}

/*
orange: #f36c32
blue: #247fc1
light blue: #8ad6f8
*/
.main{
    max-width: 1024px;
    margin: 0 auto;
}
.row-main .col-1{
    /*flex-basis: 20%;*/
    width: 20%;
}
.row-main .col-2{
    /*flex-basis: 80%;*/
    width:80%;
}

.categories{
    padding: 0;
    margin: 0;
}
.categories h2{
    display: inline-block;
    margin-right: 20px;
}
.categories li{
    display: block;
}

.categories .selected{
    font-weight: bold;
}
@media screen and (max-width: 800px) {
    .column {
        /*flex: 1;*/
        width: 100%;
    }
    .row-main .col-1{
        /*flex-basis: 100%;*/
        width: 100%;
    }
    .row-main .col-2 {
        /*-ms-flex-preferred-size: 100%;
        flex-basis: 100%;*/
        width: 100%;
    }
    .categories{
        display: inline;
    }
    .categories li {
        display: inline-block;
        margin-right: 20px;
    }
}

.post{
    position: relative;
    padding-left: 30px;
}
.post-root{
    margin-bottom: 2rem;
}
.post-link{
    text-decoration: none;
}
.post-title{
    background: #247fc1;
    background: #a3a3a3;
    color: #fff;
    display: inline-block;
    padding: 0 2px;
    font-weight: bold;
}
.post-category{
    background: #7cc1e0;
    color: #FFF;
    padding: 0 2px;
    display: inline-block;
    /* background: #bcbcbc; */
    /* background: #247fc1; */
}
.post-body{
    font-size: 18px;
    margin-bottom: .5rem;
    color: #000;
}
.post-reply-txt{
    margin-right: 15px;
}
.post-comment .post-reply-txt{
    display: none;
}
.post-vote{
    margin-bottom: .5rem;
    display: inline-block;
}
.post-user-icon{
    position: absolute;
    top: 2px;
    left: 0;
    color: #ffffff;
    background: #247fc1;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 20px;
    text-align: center;
}
.post-author{
    font-weight: bold;
    color: #247fc1;
    vertical-align: middle;
}
.post-date{
    font-size: 14px;
    vertical-align: middle;
    color: #777;
}
.post-more-icon{
    display: none;
    float: right;
}
.post-link:hover .post-more-icon, .post-link:active .post-more-icon{
    display: block;
}
.post-add-comment{
    width: 400px;
}
input.FAIL, textarea.FAIL{
    border-color: #c12929;
    background: #ffd6d0;
}
.vote-score{
    margin-right: 15px;
    vertical-align: bottom;
    font-weight: bold;
    color: #f36c32;
}
.vote-btns{
    color:#f36c32;
}
.vote-btn{
    display: inline-block;
    cursor: pointer;
}

.vote-btns svg{
    vertical-align: baseline !important;
}

.sort-on{
    float: right;
}
.add-comment{
    color: #f36c32;
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.header-close{
    background: #e0e0e0;
    padding: 10px;
}
.detail .main{
    padding: 0 20px;
}